.EventTasks {
    flex-grow: 1;
	background-color: #fff;
	height: calc(100% - 1px);
}

.InternalPolicy {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	height: calc(100% - 112px);
	padding: 20px 0;
	overflow: auto;
}

.card {
	max-width: 300px;
	max-height: 300px;
	margin: 0 0 20px;

	& > button {
		margin: 0;
		height: 100%;
	}

	.pic {
		height: 128px;
	}

	.cardContent {
		height: calc(100% - 128px);
	}

}
