.GameStatistics {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 300px;
	grid-area: g1;
	padding: 6px;
	border: 1px solid #000000;

	& > div:hover {
		cursor: pointer;
		box-shadow: 2px -1px 8px 7px #b4adb2;
		background-color: #b4adb2;
	}
}

svg.svg {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

p.value {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	font-size: 14px;
}
